/* autocomplete */
#search-autocomplete {
}

#search-opts {
  width: 100%;
  max-width: 80%;
  max-height: 6;
}

#search-box {
  width: 80%;
}

/* title */
#title-text {
  width: 100%;
  content-align: center middle;
  color: $secondary;
  text-style: bold;
  padding: 1 1 1 0;
}

/* settings */
#settings-bar {
  align: right middle;
  width: 90%;
  height: 3;
}

.label {
    height: 3;
    content-align: center middle;
    width: auto;
}

